<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tag</title>
</head>
<body>

<h3 th:text="|Tag numer ${result.id}:|"></h3>
<p th:text="|Nazwa: ${result.name}|"></p>
<p th:text="|Opis: ${result.description}|"></p>
<p>Szlaki:</p>
<ul>
    <li th:each="trail : ${result.trails}" >
        Szlak numer <span th:text="${trail.id}"></span> o nazwie <span th:text="${trail.name}"></span>
        <a th:href="@{/trails/get/{id}(id=${trail.id})}">Zobacz</a>
    </li>
</ul>

<a th:href="@{/tags/all}">Powrót do listy tagów</a>

</body>
</html>