<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Najdłuższy szlak</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="centered-container">

    <h2 th:text="|Najdłuzszy szlak dla tagu numer ${tagId}:|"></h2>

    <p th:text="'Nazwa:'" class="bolded-green-title"></p>
    <p th:text="|${longest.name}|"></p>

    <p th:text="'Długość:'" class="bolded-green-title"></p>
    <p th:text="|${longest.length}|"></p>

    <p th:text="'Pasmo górskie:'" class="bolded-green-title"></p>
    <p th:text="|${longest.mountRange.name}|"></p>

    <br>

    <a th:href="@{/tags/all}">Powrót do listy tagów</a>

</div>

</body>
</html>