<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edytuj tag</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="centered-container">

<h3 th:text="'Edytuj tag'"></h3>

<form th:action="@{/tags/update-form/{id}(id=${tagId})}" th:object="${tagDTO}" method="post" class="styled-form">

  <legend>Podaj nazwę tagu:</legend>
  <input type="text" id="tagName" th:field="*{tagName}" required>

  <legend>Podaj opis:</legend>
  <input type="text" id="tagDescription" th:field="*{tagDescription}" required>

  <legend>Wybierz szlaki zawierające ten tag:</legend>
  <div th:each="trail : ${trailList}">
    <input type="checkbox"
           th:id="'trail_' + ${trail.id}"
           th:field="*{tagTrailIds}"
           th:value="${trail.id}" />
    <label th:for="'trail_' + ${trail.id}" th:text="${trail.name}"></label>
  </div>

  <br>

  <button type="submit">Zaktualizuj</button>
</form>


</div>
</body>
</html>