<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj tag</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="centered-container">

    <h2 th:text="'Dodaj nowy tag'"></h2>

    <form th:action="@{/tags/add-form}" th:object="${tagDTO}" method="post" class="styled-form">

        <legend> Podaj nazwę tagu:</legend>
        <input type="text" id="tagName" th:field="*{tagName}">
        <div th:if="${#fields.hasErrors('tagName')}" th:errors="*{tagName}" class="red-error"></div>

        <br>

        <legend> Podaj opis:</legend>
        <input type="text" id="tagDescription" th:field="*{tagDescription}">
        <div th:if="${#fields.hasErrors('tagDescription')}" th:errors="*{tagDescription}" class="red-error"></div>

        <br>

        <legend> Wybierz szlaki zawierające ten tag:</legend>
        <div th:each="trail : ${trailList}">
            <input type="checkbox"
                   th:id="'trail_' + ${trail.id}"
                   th:field="*{tagTrailIds}"
                   th:value="${trail.id}"/>
            <label th:for="'trail_' + ${trail.id}" th:text="${trail.name}"></label>
        </div>

        <br>

        <button type="submit">Dodaj</button>
    </form>

</div>
</body>
</html>