<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista tagów</title>
</head>
<body>

<h4> List tagów dla szlaków w kolekcji </h4>
<table border="1">
  <thead>
  <tr>
    <th>  ID  </th>
    <th>  Nazwa  </th>
    <th>  Opis </th>
    <th>  Szlaki </th>
    <th> Akcje </th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="tag : ${tags}">
    <td th:text="${tag.id}"></td>
    <td th:text="${tag.name}"></td>
    <td th:text="${tag.description}"></td>
    <td th:text="${tag.trails}"></td>
    <td>
      <a th:href="@{/tags/get/{id}(id=${tag.id})}">Zobacz</a>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>