<!DOCTYPE html>
<html lang=pl xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Podsumowanie</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="centered-container">

<h2>Podsumowanie</h2>

    <p th:text="'Łączna liczba szlaków:'" class="bolded-green-title"></p>
    <p th:text="|${numberOfTrails}|"></p>

    <p th:text="'Średnia długość szlaku:'" class="bolded-green-title"></p>
    <p th:text="|${averageLength}|"></p>

    <p th:text="'Liczba pasm górskich w kolekcji:'" class="bolded-green-title"></p>
    <p th:text="|${distinctMountRanges}|"></p>

    <p th:text="'Liczba szlaków od danej kategorii trudności:'" class="bolded-green-title"></p>
    <ul>
        <li th:text="|Easy: ${countEasy}|"></li>
        <li th:text="|Medium: ${countMedium}|"></li>
        <li th:text="|Hard: ${countHard}|"></li>
    </ul>

    <br>

<a th:href="@{/trails/all}">Powrót do listy szlaków</a>

</div>

</body>
</html>