<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szlaki w kategorii</title>
</head>
<body>

<h2 th:text="|Dostępne szlaki dla kategorii ${category}|"></h2>

<ol>
        <li th:each="trail : ${trails}" >
            Szlak numer <span th:text="${trail.id}"></span> o nazwie <span th:text="${trail.name}"></span>
            <a th:href="@{/trails/get/{id}(id=${trail.id})}">Zobacz</a>
        </li>
</ol>

<a th:href="@{/trails/all}">Powrót do listy szlaków</a>

</body>
</html>