<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj szlak</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="centered-container">

    <h2 th:text="'Dodaj nowy szlak'"></h2>

    <form th:action="@{/trails/add-form}" th:object="${trailDTO}" method="post" class="styled-form">

        <legend> Podaj nazwę szlaku: </legend>
        <input type="text" id="trailName" name="trailName">
        <div th:if="${#fields.hasErrors('trailName')}" th:errors="*{trailName}" class="red-error"></div>

        <legend> Podaj nazwę pasma górskiego: </legend>
        <input type="text" th:field="*{mountRangeName}"><br>
        <div th:if="${#fields.hasErrors('mountRangeName')}" th:errors="*{mountRangeName}" class="red-error"></div>

        <fieldset>
            <legend>Punkt startowy</legend>

            <legend>Szerokość geograficzna:</legend>
            <input type="number" th:field="*{startPoint.latitude}" step="any" ><br>
            <div th:if="${#fields.hasErrors('startPoint.latitude')}" th:errors="*{startPoint.latitude}" class="red-error"></div>

            <legend>Długość geograficzna:</legend>
            <input type="number" th:field="*{startPoint.longitude}" step="any" ><br>
            <div th:if="${#fields.hasErrors('startPoint.longitude')}" th:errors="*{startPoint.longitude}" class="red-error"></div>

        </fieldset>
        <br>

        <fieldset>
            <legend>Punkt końcowy</legend>
            <label>Szerokość geograficzna:</label>
            <input type="number" th:field="*{endPoint.latitude}" step="any">
            <div th:if="${#fields.hasErrors('endPoint.latitude')}" th:errors="*{endPoint.latitude}" class="red-error"></div>

            <label>Długość geograficzna:</label>
            <input type="number" th:field="*{endPoint.longitude}" step="any">
            <div th:if="${#fields.hasErrors('endPoint.longitude')}" th:errors="*{endPoint.longitude}" class="red-error"></div>
        </fieldset>
        <br>


        <button type="submit">Dodaj</button>
    </form>

</div>
</body>
</html>