<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edytuj szlak</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="centered-container">

    <h2 th:text="'Edytuj szlak'"></h2>

    <form th:action="@{/trails/update-form/{trailId} (trailId = ${trailDTO.id})}" th:object="${trailDTO}" method="post"
          class="styled-form">

        <legend>Podaj nazwę szlaku:</legend>
        <input type="text" id="trailName" th:field="*{trailName}" required>

        <legend>Podaj nazwę pasma górskiego:</legend>
        <input type="text" id="mountRangeName" th:field="*{mountRangeName}" required><br><br>

        <fieldset>
            <legend>Punkt startowy</legend>
            <label for="startLatitude">Szerokość geograficzna:</label>
            <input type="number" id="startLatitude" th:field="*{startPoint.latitude}" step="any" required><br>
            <label for="startLongitude">Długość geograficzna:</label>
            <input type="number" id="startLongitude" th:field="*{startPoint.longitude}" step="any" required><br>
        </fieldset>
        <br>

        <fieldset>
            <legend>Punkt końcowy</legend>
            <label for="endLatitude">Szerokość geograficzna:</label>
            <input type="number" id="endLatitude" th:field="*{endPoint.latitude}" step="any" required><br>
            <label for="endLongitude">Długość geograficzna:</label>
            <input type="number" id="endLongitude" th:field="*{endPoint.longitude}" step="any" required><br>
        </fieldset>
        <br>

        <button type="submit">Edytuj</button>
    </form>

</div>

</body>
</html>