<!DOCTYPE html>
<html lang=pl xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Podsumowanie</title>
</head>
<body>
<h1>Podsumowanie</h1>
<h4>Podsumowanie kolekcji szlaków:</h4>

<p th:text="'Łączna liczba szlaków: ' + ${numberOfTrails}"></p>
<p th:text="|Łączna długość szlaków: ${totalLength} km|"></p>
<p th:text="|Średnia długość szlaków: ${averageLength} km|"></p>
<p th:text="|Liczba odrębnych pasm górskich w kolekcji: ${distinctMountRanges}|"></p>

<p th:text="|Liczba szlaków o danej kategorii trudności: |"></p>
<ul>
    <li th:text="|Easy: ${countEasy}|"></li>
    <li th:text="|Medium: ${countMedium}|"></li>
    <li th:text="|Hard: ${countHard}|"></li>
</ul>

<a th:href="@{/trails/all}">Powrót do listy szlaków</a>

</body>
</html>